.main-container {
    min-height: 100vh;
}
.central-form {
    max-width: 1100px;
    width: 60%;
    padding: 4px;
    display: flex;
    border-radius: 12px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    background-color: var(--foreground-color);
}
.central-form h2 {
    color: var(--background-color);
    font-family: "Poppins Bold";
}
.col {
    margin-bottom: 20px;
    margin-top: -60px;
}
.col i {
    color: var(--accent-two);
    margin-right: 4px;
}
.back-form {
    color: var(--foreground-color);
    margin-left: 10px;
}
.back-form h4 {
    color: var(--background-color);
    font-family: "Poppins Light";
}
.img-back {
    margin-left: auto;
    margin-right: 0;
    width: 65%;
    height: 140%;
    border-radius: 12px;
    z-index: 16;
}

.img-back img {
    width: 100%;
    height: 140%;
    border-radius: 12px;
    z-index: 16;
}
.form-cont {
    position: absolute;
    width: 45%;
    margin-top: 100px;
    margin-left: 10px;
}

.central-form form {
    width: auto;
    display: flex;
    color: var(--foreground-color);
    padding: 15px;
    justify-content: center;
    flex-direction: column;
    background-color: var(--background-color);
    border-radius: 12px;
    margin-right: 10px;
}

form p {
    text-align: center;
    margin-bottom: 10px;
    color: var(--accent-one);
    letter-spacing: 0.2rem;
    font-family: "Poppins SemiBold";
}

form label {
    margin-bottom: 5px;
    color: var(--foreground-color);
}

form input,
textarea {
    width: 100%;
    border: 2px solid var(--background-color);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    transition: 0.3s;
}

textarea:focus {
    background-color: var(--foreground-color);
    border: 2px solid var(--accent-one);
}
input:focus {
    background-color: var(--foreground-color);
    border: 2px solid var(--accent-one);
}

form button {
    margin-top: 5px;
    padding: 5px;
    width: 160px;
    font-size: 12px;
    border-radius: 15px;
    background-color: var(--accent-one);
    color: var(--foreground-color);
    align-items: center;
    justify-content: center;
}

form button:hover {
    color: var(--background-color);
}

button .load {
    width: 100%;
}

button .load img {
    width: 40px;
    color: var(--accent-one);
}
