.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
}

.projects-parent {
    max-width: 1500px;
    width: 90%;
}

.project-card {
    display: flex;
    margin-bottom: 10%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 20px -3px black;
}

.project-card:hover {
    box-shadow: 0px 0px 25px 0px black;
}

.project-details {
    width: 60%;
    text-align: center;
}

.project-image {
    width: 40%;
    border-radius: 10px 0 0 10px;
}

.project-heading {
    text-align: center;
    font-size: 35px;
    font-family: "Poppins SemiBold";
}

.project-tags-container {
    text-align: center;
    margin: 10px 0 0 10px;
    padding: 0;
}

.project-tag {
    display: inline-block;
    padding: 4px 5px 5px 6px;
    border-radius: 9px;
    margin-right: 5px;
    background-color: var(--accent-two);
    color: white;
}
.project-options {
    margin-top: 10px;
}
