.about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0 0 0;
}

.about-me-parent {
    max-width: 1000px;
    width: 70%;
}
.about-me-card {
    display: flex;
    box-shadow: 0 0px 20px -2px black;
    background-color: white;
    text-align: center;
}
.about-me-details {
    text-align: center;
    width: 100%;
    padding: 30px;
}
.about-me-description {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
}
.highlight-heading {
    font-family: "Poppins Bold";
    font-size: 16px;
    margin: 10px 0 5px 0;
}
.highlight {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 5px;
    font-size: 16px;
}
.highlight-blob {
    height: 12px;
    width: 12px;
    margin: 0 10px 0 0;
    background-color: var(--accent-one);
    border-radius: 50%;
}
.about-me-options .highlighted-btn {
    margin: 0 0 0 30px;
}

.about-me-options {
    align-self: flex-end;
}
